# Ignore node modules and build directories
node_modules/
dist/
build/

# Ignore logs
*.log

# Ignore OS or IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/
# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

# Ignore all .txt files except readme.txt
*.txt
!readme.txt
